# Dependencies
/node_modules

# Build output
/dist

# Docs output
/docs

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed

# OS files
.DS_Store
Thumbs.db

# IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

